<div class="app-container">
  <header class="app-header">
    <h1>EatSit</h1>
    <nav>
      <a [routerLink]="['/dashboard']" class="btn btn-accent px-4">Inicio</a>
      <a *ngIf="!authority" [routerLink]="['/login']" class="btn btn-accent px-4">LogIn/SignUp</a>
      <a *ngIf="authority?.includes('cliente')" [routerLink]="['/addreservas']" class="btn btn-accent px-4">Reservar un restaurante</a>
      <a *ngIf="authority?.includes('cliente')" [routerLink]="['/misreservas']" class="btn btn-accent px-4">Mis Reservas</a>
      <a *ngIf="authority?.includes('cliente')" [routerLink]="['/account']" class="btn btn-accent px-4">Cuenta</a>
      <a *ngIf="authority?.includes('cliente')" class="btn btn-accent px-4" (click) =logout()>LogOut</a>
      <a *ngIf="authority?.includes('restaurante')" [routerLink]="['/addrestaurant']" class="btn btn-accent px-4">Añadir un restaurante</a>
      <a *ngIf="authority?.includes('restaurante')" [routerLink]="['/account']" class="btn btn-accent px-4">Cuenta</a>
      <a *ngIf="authority?.includes('restaurante')" class="btn btn-accent px-4" (click) =logout()>LogOut</a>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="app-footer">
    <p>&copy; 2025 EatSit. Todos los derechos reservados.</p>
  </footer>
</div>
