<div class="app-container">
  <header class="app-header">
    <h1>EatSit</h1>
    <nav>
      <a [routerLink]="['/dashboard']" class="btn btn-accent px-4">Inicio</a>
      <a [routerLink]="['/login']" class="btn btn-accent px-4">LogIn/SignUp</a>
      <!-- <a *ngIf="authority.includes('doctor')" [routerLink]="['/patients']" class="btn btn-accent px-4">All patients</a> -->
      <a href="#">Reservas</a>
      <a href="#">Contacto</a>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="app-footer">
    <p>&copy; 2025 EatSit. Todos los derechos reservados.</p>
  </footer>
</div>
