<div class="container-fluid">
  <div class="container">
    <div class="register-box">
      
      <div *ngIf="isSignedUp; else registrationForm">
        <h2>El usuario ha sido registrado correctamente</h2>
        <p>Por favor, log in para continuar</p>
        <button type="button" [routerLink]="['/login']" class="btn btn-custom mt-1 py-3 px-5 font-uniform">LogIn</button>
      </div>

      <ng-template #registrationForm>
        <form name="registrationForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <h2>Create an Account</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required/>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" name="password" [(ngModel)]="form.password"/>
              </div>

              <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role" class="form-control" [(ngModel)]="form.role" required>
                  <option value="cliente">cliente</option>
                  <option value="restaurante">restaurante</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input id="firstname" type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" required/>
              </div>

              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input id="lastname" type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" required/>
              </div>

              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="form.phone" #phone="ngModel" required/>
                
              </div>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn-custom">Sign Up</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning mt-3">
              Registration failed!<br/>{{errorMessage}}
            </div>
          </div>
        </form>
      </ng-template>

    </div>
  </div>
</div>
